header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shoolimg{
	font-size: 25px;
	background-image: url(podlogo.png);
	padding: 10px 60px 10px 60px;
	position: relative;
	top: -11px;
}
